# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_KSCAN_74HC164_MATRIX_DRIVER
	bool "74HC164 shift register matrix driver"
    select ZMK_DEBOUNCE
	depends on DT_HAS_ZMK_KSCAN_74HC164_MATRIX_ENABLED
	help
	  Enable support for 74HC164 shift register matrix driver
